body {
  background-color: rgb(219, 215, 215);
}
.header {
  background-color: black;
  padding-bottom: 20px;
  padding-top: 20px;
}

.container {
  background-color: rgba(220, 220, 220, 0.781);
  box-shadow: 0px 5px #888888;
}

.content {
  background-color: rgba(220, 220, 220, 0.781);
  margin-left: 20px;
}

p {
  column-count: 4;
  column-width: 200px;
  column-rule: solid black;
  column-fill: auto;
  font-size: small;
  margin-left: 20px;
  margin-right: 20px;
}

.p3 {
  padding-bottom: 50px;
}

.home {
  color: white;
  text-decoration: none;
  margin: 10px;
}

.footer {
  color: white;
  font-size: small;
  text-align: center;
  padding-bottom: 5px;
  background-color: black;
}
